
@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300&display=swap')
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Varta' ,sans-serif ;
}
body{
    background: #19123b;
}
.main_div{
    height: 100vh;
}
.card{
    border: none;
    border-top: 5px solid rgb(176,106,252);
background: #212042;
color: #57557a;
}
p{
    font-size: 20px;
    font-weight: 500;
}
a{
    text-decoration: none;

}
.fa{
display: flex;
align-items: center;
justify-content: center;
border: none;
background: #2a284d;
height: 50px;
width: 50px;
border-radius: 50%;
transition: all 0.2slinear;
}
.fa:hover{
    cursor: pointer;
    background: #aaafff;
}
.division
{
    width: 100%;
    text-align:center;
    margin:30px auto 20px;
}
.main-heading{
font-weight: 500;
font-size: 25px;
}
.division span{
    font-size: 25px;
    font-weight: 500;
}
.myform{
    padding: 0 25px 0 35px;
}
.form-control{
border:1px solid;
border-radius: 2px;
background: #212042;
margin-bottom: 20px;
letter-spacing: 1px;

}
.form-control:focus{
    border:1px solid;
border-radius: 2px;
background: #212042;
margin-bottom: 20px;
letter-spacing: 1px;
color: #fff;
}
.bn{
    text-decoration: underline;

}
.bn:hover{
    cursor: pointer;
}
.form-check-imput{
    width: 1rem !important;
height: 1rem !important;

}
.btn-primary{
background: linear-gradient(135deg,rgba(175,106,252,1)39%, rgba(116,17,255,1)100%);
border-radius: 50px;
border: none;
}
.small{
    color: #f2ceff;
}
.register{
color: #57557a ;
text-decoration: underline;
}
.register:hover{
    color:white ;
    text-decoration: none;
    }